@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@100;400;700&display=swap');
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  flex-direction: column;
  justify-content: space-between;
  background-image: url(image/sunny.jpg);
  background-size: cover;
  
}

.cuaca{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  gap: 0.5px;
}

.container {
  max-width: 450px;
  min-width: 450px;
  padding: 30px;

}


.title {
  font-weight: 550;
  font-size: 40px;
  letter-spacing: -1.5px;
  color: #fff;

}

.form-rounded {
  border-radius: 1em;
}

.back-card {
  border-radius: 40px !important;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 12pt;
  font-weight: 200;
  color: #fff;
}

.city-name span {
  font-weight: 400;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
  color: #fff;
}

.temp span {
  font-weight: 100;
  font-size: 3em;
  letter-spacing: -5px;
  white-space: nowrap;
}

.card-mid {
  line-height: 0.5;
}

.mx-auto img {
  height: 50px !important;
}

.icon-container {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #a9a9a9;
}

.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.5;
}

.card-bottom span {
  font-size: 15px;
}

.card-bottom p {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: -2px;
}

.card-img-top {
  border-radius: 40px !important;
}

.my-5 h1 {
  color: white !important;
}

.leaflet-popup-content-wrapper {
  width: 100%;
}


#map{
  width: 90%;
  height: 97vh;
  margin-top: 4vh;
  border-radius: 12px;
  display: flex;
  margin-right: 20vh;
}
@media screen and (max-width: 617px) {
  .cuaca{
    grid-template-columns: repeat(1, 1fr);
  }
  #map{
    height: 400px;
    margin-left: 5vh;
    margin-top: 2px;
  }
}
